@tailwind base;
@tailwind components;
@tailwind utilities;

.main
{
display: flex;
justify-content: space-between;
}
.overlap
{
  position: fixed;
  background-color:rgb(25 26 25);
  width: 30%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: oswald;
}
.overlap img
{
  height: 240px;
  width: 250px;
  border-radius: 100%;
  margin-bottom: 5%;
  margin-top: 2%;
}
.overlap h1
{
  color: rgb(207, 201, 15);
  font-size: 35px;
  font-weight: bolder;
  margin-bottom: 2%;
}
.overlap h3
{
  color: white;
  font-size: 25px;
}
.overlap p
{
  color: white;
font-size: 15px;
width: 90%;
box-sizing: border-box;
margin-top: 2.5%;
}
.overlap h5
{
  color: white;
  font-weight: 200;
  font-size: 20px;
margin-top: 2%;
}
.overlap .icons
{
  display: flex;
  margin-top: 5%;
  margin-bottom: 30%;
}
.about-section
{
  box-sizing: border-box;
  width: 60%;
  font-family: oswald;
  margin-top: 1%;
  margin-bottom: 5%;
}
.about-section h2
{
  margin-top: 1%;
  font-size: 25px;
  color: rgb(25 26 25);
margin-bottom: 2%;
}
.about-section p
{
width: 95%;
}
.about-section .buttons
{
  display: flex;
  justify-content: space-between;
  margin-top: 4%;
  width: 90%;
}
.about-section .buttons button
{
  width: 50%;
  height: 50px;
  background-color: blue;
  font-size: 20px;
}
.about-section .buttons .b1
{
text-align: start;
padding-left: 1%;
background-color: yellow;
}
.about-section .buttons .b1:hover,.about-section .buttons .b2:hover
{
  background-color: black;
  color: yellow;
  transition: .4s;
}
.about-section .buttons .b2
{
  background-color: lightgrey;
text-align: end;
padding-right: 1%;
}
.about-section .socialButtons
{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
  margin-top: 2%;
  width: 90%;
}
.socialButtons button
{
height: 40px;
  background-color: rgb(210, 239, 241);
}
.about-section .profHeading
{
  margin-top: 6%;
}
.about-section .firstCard
{
 display: block;
 border-top: 7px solid rgb(104 245 144);
 box-shadow: 0 0 2px lightgray,
            2px 0 2px lightgray,
           -2px 0 2px lightgray,
            0 2px 2px lightgray;
 width: 90%;
 height: 170px;
}
.about-section .firstCard .content
{
  margin-top: 3%;
  margin-left: 2%;
}
.about-section .firstCard h3
{
font-size: 22px;
margin-bottom: 1%;
}
.about-section .firstCard p
{
  width: 95%;
  margin-bottom: 5%;
}
.about-section .card
{
  display: block;
  border-top: 7px solid lightgray;
  box-shadow: 0 0 2px rgb(241, 239, 239),
             2px 0 2px lightgray,
            -2px 0 2px lightgray,
             0 2px 2px lightgray;
  width: 90%;
  height: 170px;
}
.about-section .card .content
{
  margin-top: 3%;
  margin-left: 2%;
}
.about-section .card h3
{
font-size: 22px;
margin-bottom: 1%;
}
.about-section .card p
{
  width: 95%;
  margin-bottom: 5%;
}
@media screen and (max-width:875px) 
{
.overlap h1
{
  margin-left: 20%;
}  
}
@media screen and (max-width:700px) 
{
  .main
  {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .overlap
  {
    width: 100%;
    position:relative;
  }

.overlap h1
{
  margin-left: 0%;
}
.about-section
{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}  
.overlap p
{
  text-align: center;
}
}