@tailwind base;
@tailwind components;
@tailwind utilities;

.main
{
display: flex;
align-items: center;
justify-content: space-between;
}
.overlap
{
  background-color:rgb(25 26 25);
  height: 100%;
  width: 30%;
  box-sizing: border-box;
}
.overlap img
{
  height: 310px;
  width: 320px;
  border-radius: 100%;
  margin-left: 8%;
  margin-bottom: 5%;
}
.overlap h1
{
  font-family: oswald;
  color: rgb(207, 201, 15);
  font-size: 30px;
  font-weight: bolder;
text-align: center;
}
.about-section
{
  box-sizing: border-box;
  width: 60%;
}
.about-section h2
{
  font-family: oswald;
  font-size: 25px;
  color: rgb(25 26 25);
margin-bottom: 3%;
}
.about-section p
{
width: 80%;
}